<section class="banner">
    <div class="hero-body">
        <div class="container-title">
            <h1 class="title">Suppression de données</h1>
        </div>
    </div>
</section>

<section class="section">
    <div class="container-form">
        <!-- Contact form -->

         <form (ngSubmit)="submitForm(); completeContact(contactForm)" #contactForm="ngForm">
            <!-- Name -->
            <div class="field">
                <label class="label-name">Name</label>
                <input type="text" name="name" class="input" [(ngModel)]="name" placeholder="Votre nom"  #nameInput="ngModel" 
                pattern="^[a-zA-Zàéèç.-.' ']*"
                required>
                <div class="error" *ngIf="nameInput.invalid && nameInput.touched">
                    Ce champ est nécessaire
                </div>
            </div>

            <!-- Email -->
            <div class="field">
                <label class="label-email">Email</label>
                <input type="text" name="email" class="input" [(ngModel)]="email" placeholder="example@gmail.com" #emailInput="ngModel" 
                pattern="^[a-zA-Z0-9_.]+@(?:[a-zA-Z0-9-]+\.)+[a-z]{2,7}$"
                required>
                <div class="error" *ngIf="emailInput.invalid && emailInput.touched">
                    Ce champ est nécessaire
                </div>
            </div>
            <!-- RECAPTCHA -->

            <!-- Submit button -->
            <button type="submit" mat-raised-button color="primary" [disabled]="!contactForm.valid">Envoyez</button>
        </form> 
    </div>
</section>