nav {
    div.container {
        div.myLogoContainer {
            max-width: 95px;
            padding-right: 10px;

            a.navbar-brand {
                 img.myLogo {
                     max-width: 100%;
                     height: auto;
                 }
            }
        }
        a.contact:hover{
            color: #FFFFFF;
            text-decoration: none;
        }
    }
}