nav {
    background: linear-gradient(#16ABA0, white) !important;
    height: 100px;

    div.container {

        div.myLogoContainer {

            max-width: 150px;
            padding-right: 10px;

            a.navbar-brand {
                img.myLogo {
                    max-width: 100%;
                    height: auto;
                }
            }
        }

        div.navbar-collapse {

            ul {
                li {

                    a.account_link {
                        display: flex;
                        flex-direction: column;
                        align-items: center;

                        img {
                            max-width: 50%;
                            filter: invert(97%) sepia(100%) saturate(12%) hue-rotate(198deg) brightness(103%) contrast(104%);
                        }
                    }
                }
            }

            div.searchDiv {
                background: #FFF;
                //padding: 0.5rem 1rem 0.5rem 0rem;
                border-radius: 6px;
                display: flex;
                align-items: center;

                input[type="search"] {
                    background: #FFF;
                    padding-left: 1rem;
                    position: relative;
                    top: 0;
                    left: 0;
                    width: 50px;
                    height: 30px;
                    outline: none;
                    border: none;
                    border-radius: 6px 0px 0px 6px;
                    transition: all .5s;
                    border-right: 1px #2c2c5146 dashed;
                }

                input[type="search"]:focus {
                    width: 300px;
                    top: 0;
                    right: 100%;
                }

                div.searchContaint {
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;
                    padding: 0.2rem 1rem 0.2rem 1rem;

                    img {
                        width: 100%;
                    }

                    // span {
                    //     text-transform: uppercase;
                    //     text-decoration: none;
                    //     letter-spacing: 0.2em;
                    //     display: inline-block;
                    //     //padding: 15px;
                    //     position: relative;
                    //     font-size: 0.8rem;
                    // }

                    /*
                    span:hover::after {
                        width: 100%;
                        right: 0;
                    }

                    span::after {
                        background: none repeat scroll 0 0 transparent;
                        bottom: 0;
                        content: "";
                        display: block;
                        height: 4px;
                        right: 0;
                        position: absolute;
                        background: linear-gradient(to left, #f69ec4, #f9dd94 100%);
                        transition: width .5s ease 0s, right .5s ease 0s;
                        width: 0;
                    }
                    */
                }
            }
        }


        div.navbar-collapse.show {
            background: linear-gradient(#b2e5e1, #008f84) !important;
            padding: 20px;
            z-index: 100;

            ul {
                li {
                    border-bottom: black 1px solid;

                    a {
                        color: black;
                        //padding-left: 5px;
                    }
                }
            }
        }

        a.contact:hover {
            color: #FFFFFF;
            text-decoration: none;
        }

        ul.navbar-nav.mr-auto {

            li.nav-item.dropdown {

                a.nav-link.dropdown-toggle {
                    color: #FFFFFF;
                }
            }
        }
    }
}

.dropdown-toggle::after {
    display: none;
}