<nav class="navbar navbar-expand-lg navbar-light bg-light">
	<div class="container">

		<div class="myLogoContainer">
			<a class="navbar-brand" href="/">
				<img src="../../assets/images/logo/atypik-house-logo.png" alt="Logo-AtypikHouse"
					class="img-responsive myLogo">
			</a>
		</div>

		<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
			aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>

		<div class="collapse navbar-collapse" id="navbarSupportedContent">
			
			<ul class="navbar-nav mr-auto">
				<li class="nav-item active">
					<a class="nav-link" href="#">Accueil <span class="sr-only">(current)</span></a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="#">Hébergement</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="/contact">Contact</a>
				</li>
			</ul>

			<div class="searchDiv">

				<input type="search" id="search" name="search"/>
				
				<div class="searchContaint">
					<img src="../../../assets/images/icons/search_black.svg" alt="icone-loupe-recherche">
					<!-- <span>Explorer</span> -->
				</div>
			</div>

			<ul class="navbar-nav mr-auto">
				<li class="nav-item dropdown">
					<a class="nav-link dropdown-toggle account_link" href="#" id="navbarDropdown" role="button"
						data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
						<img class="account-icon" src="../../../assets/images/icons/icone-compte-atypikhouse.svg" alt="Logo-mon-compte"/>
						<span>Mon compte</span>
					</a>
					<div class="dropdown-menu" aria-labelledby="navbarDropdown">
						<a class="dropdown-item" href="/login">Connexion</a>
						<a class="dropdown-item" href="/register">S'inscrire</a>
					</div>
				</li>
			</ul>
		</div>

	</div>
</nav>