/Backend/report/
Backend/report/html-coverage/index.html
Backend/report/html-coverage/DataFixtures/dashboard.html
Backend/report/html-coverage/DataFixtures/index.html
Backend/report/html-coverage/Entity/Lodging.php.html
