div.container {
    
    section {
        padding: 64px 0;

        div.useful-width {
            display: block;
            width: auto;
            max-width: 1200px;
            margin-left: auto;
            margin-right: auto;

            div.margin-constraint {
                margin-left: 20px;
                margin-right: 20px;

                div.lodgingSection {
                    display: grid;
                    grid-template-columns: 1fr;
                    grid-column-gap: 20px;
                    column-gap: 20px;
                    grid-row-gap: 20px;
                    row-gap: 20px;

                    h1 {
                        text-align: center;
                        color: #16ABA0;
                    }

                    div.lodging {
                        display: flex;
                        padding: 10px;
                        width: 100%;
                        border-radius: 15px;               
                        div.lodgingAprecu {
                            width: 60%;
                            display: flex;
                            flex-direction: column;
                            justify-content: center;
                            align-items: center;

                            ::ng-deep .p-galleria-thumbnail-items {
                                //background-color: red;
                                height: auto;

                            }

                            ::ng-deep .p-galleria-thumbnail-container {
                                background-color: rgba(0, 0, 0, 0.9);
                                padding: 1rem 0.25rem;
                                border-radius:  0px 0px 10px 10px;
                            }

                            ::ng-deep .p-galleria .p-galleria-thumbnail-container .p-galleria-thumbnail-prev, 
                            ::ng-deep .p-galleria .p-galleria-thumbnail-container .p-galleria-thumbnail-next  {
                                display: none;
                                margin: 0.5rem;
                                background-color: transparent;
                                color: #f8f9fa;
                                width: 2rem;
                                height: 2rem;
                                transition: background-color 0.2s, color 0.2s, box-shadow 0.2s;
                                border-radius: 50%;
                            }
                            img.thumbnailImg {
                               //padding-top: 10px;
                               padding-right: 10px;
                            }

                            p {
                                text-align: center;
                                color: #000000;
                                line-height: 25px;
                                margin: 0;
                                font-weight: 400;
                                font-size: 16px;
                                margin-top: 10px;
                                // display: flex;
                                // flex-direction: column;
                            }
                        }

                        div.logingDesc {
                            display: flex;
                            flex-direction: column;
                            margin-left: 15px;
                            width: 40%;

                            
                            span {
                                //text-align: right;
                                font-size: 16px;
                                margin-bottom: 10px;
                                color: #ED6700;
                            }

                            p {
                                //text-align: right;
                                color: #000000;
                                line-height: 25px;
                                margin: 0;
                                font-weight: 400;
                                font-size: 16px;
                                margin-bottom: 10px;
                                // too set a max caracter length and "..." at the end
                                overflow: hidden;
                                display: -webkit-box;
                                -webkit-line-clamp: 4;
                                -webkit-box-orient: vertical;
                                //max-width: 200px;
                            }
                            

                        }
                        
                    }

                }




            }
        }
    }
}
@media (max-width: 1024px) {

    section {

        div.useful-width {

            div.margin-constraint {

                div.lodgingSection {
                    display: grid;
                    grid-template-columns: 1fr;
                    grid-column-gap: 20px;
                    column-gap: 20px;
                    grid-row-gap: 20px;
                    row-gap: 20px;

                    div.lodging {
                        display: flex;
                        padding: 10px;
                        width: 100%;

                        div.lodgingAprecu {

                            p {
                                display: block;
                            }
                        }

                        div.logingDesc {

                            h3 {
                                text-align: left;
                                margin: 0;
                                color: #2c2c51;
                                font-size: 20px;
                            }

                            span {
                                text-align: left;
                                font-size: 16px;
                                color: orange;
                                margin-bottom: 0;
                            }

                            p {
                                text-align: left;
                            }

                        }
                    }

                }
            }
        }
    }

}


@media (max-width: 560px) {

    section {

        div.useful-width {

            div.margin-constraint {

                div.lodgingSection {

                    div.lodging {
                        display: flex;
                        flex-direction: column;
                        padding: 10px;
                        width: 100%;

                        div.lodgingAprecu {
                            width: 100%!important;

                            p {
                                display: block;
                            }
                        }

                        div.logingDesc {
                            width: 100%!important;
                            padding-top: 20px;
                            
                            h3 {
                                text-align: left;
                                margin: 0;
                                color: #2c2c51;
                                font-size: 20px;
                            }

                            span {
                                text-align: left;
                                font-size: 16px;
                                color: orange;
                                margin-bottom: 0;
                            }

                            p {
                                text-align: left;
                            }

                        }
                    }

                }
            }
        }
    }

}