section.content{
    div.hero-body{
        div.container-title{
            text-align: center;
            margin-top: 5rem;
            margin-bottom: 5rem;
        }
    }
}

section.content-page{
    div.text-404{
        box-sizing: border-box;
        width: 100%;
        margin: auto;
        font-size: 3.2rem;
        line-height: 1.5;
        text-align: center;
        
    }
}


