<section class="prefooter">
    <div class="message-fictif">
        <p class="message-fictif-text">Il s’agit d’un projet étudiant fictif dans le cadre de la formation Consultant Développeur Web au sein de F2i pour lequel aucun réel achat ou aucune réservation ne pourrait être effectué.</p>
    </div>
</section>


<section class="footer-maps">
    <div class="google-maps">
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2599.348720210623!2d2.9607853156916732!3d49.34554797933826!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x47e87de0571c6eed%3A0xfdde3ebd2c504887!2s39%20Rue%20du%20Bois%20d&#39;Haucourt%2C%2060350%20Pierrefonds!5e0!3m2!1sfr!2sfr!4v1645354793621!5m2!1sfr!2sfr" width="100%" height="450" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
    </div>
</section>

<section class="footer">
    <div class="container">
        <div class="d-flex justify-content-center footerContainer">
            <p><i>AtypikHouse</i> &copy; 2022 | Location de logement | <a href="/mentions-legales">Mentions légales</a> | <a href="/politique-de-confidentialite">Politique de confidentialité</a> | <a href="/conditions-generales-vente">CGV</a> | <a href="/conditions-generales-utilisation">CGU</a> | <a href="/site_map.xml">Site map</a></p>
        </div>
        
    </div>
</section>
