<section class="footer">

    <div class="container">

        <div class="col-12 col-md-6 footerContainer1">
            <!-- <h3><strong>La map ici</strong></h3> -->
            <!--<div class="google_map_container">
                <google-map [zoom]="mapZoom" [center]="mapCenter" [options]="mapOptions">
                    <map-marker
                      #marker="mapMarker"
                      [position]="mapCenter"
                      [options]="markerOptions"
                      (mapClick)="openInfoWindow(marker)">
                    </map-marker>
                    <map-info-window>{{ markerInfoContent }}</map-info-window>
                  </google-map>
            </div>-->
        </div>

        <div class="adress_lien-utiles">
            
            <div class="col-12 col-md-6 footerContainer2">
                <h3><strong>Adresse</strong></h3>
                <p>39 Rue du Bois d'Haucourt</p>
                <p>60350 Pierrefonds</p>
            </div>
    
            <div class="col-12 col-md-6 footerContainer3">
                <h3><strong>Lien utiles</strong></h3>
                <p>39 Rue du Bois d'Haucourt</p>
                <p>60350 Pierrefonds</p>
            </div>
            
        </div>


    </div>

    

</section>


