section.footer {
    border: red solid;
    /*background-color: #000;*/
    color: #000;
    height: 150px;
    /*position: absolute;*/
    bottom: 0;
    width: 100%;
    
    div.container {
        border: green solid;        
        height: 100%;

        div.footerContainer {
            border: yellow solid;
            height: 100%;
            display: flex;
            justify-content: center;
            align-content: center;
            align-items: center;
            
        }
    }
}