<div class="container">

	<ngb-carousel class="no-indicators" *ngIf="images">

		<ng-template ngbSlide>
			<div class="picsum-img-wrapper">
				<img [src]="images[0]" alt="Cabane flottante">
			</div>
			<div class="carousel-caption">
				<h1>Atypik House, location de logement insolite</h1>
			</div>
		</ng-template>

		<ng-template ngbSlide>
			<div class="picsum-img-wrapper">
				<img [src]="images[1]" alt="Bulle">
			</div>
			<div class="carousel-caption">
				<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
			</div>
		</ng-template>

		<ng-template ngbSlide>
			<div class="picsum-img-wrapper">
				<img [src]="images[2]" alt="Maison troglodyte">
			</div>
			<div class="carousel-caption">
				<p>Praesent commodo cursus magna, vel scelerisque nisl consectetur.</p>
			</div>
		</ng-template>

	</ngb-carousel>

	<app-lodging-filter></app-lodging-filter>
	<app-lodging></app-lodging>

</div>



<!-- <div class="container-title">
    <h1>Atypik House, location de logement en France</h1>
   
    
</div> -->