<head>
    <title>Accueil | Atypik House | Location de logement | France</title>
</head>
<section class="slidershow">
<!-- Slideshow container -->
<div class="slideshow-container">

    <!-- Full-width images with number and caption text -->
    <div class="mySlides fade">
      <div class="numbertext">1 / 3</div>
      <img src="../../assets/images/home/hebergements-insolites-accueil-atypik-house.jpg" style="width:100%; height:620;">
      <div class="text">Caption Text</div>
    </div>
  
    <div class="mySlides fade">
      <div class="numbertext">2 / 3</div>
      <img src="../../assets/images/home/hebergements-insolites-accueil-atypik-house.jpg" style="width:100%; height:620;">
      <div class="text">Caption Two</div>
    </div>
  
    <div class="mySlides fade">
      <div class="numbertext">3 / 3</div>
      <img src="../../assets/images/home/hebergements-insolites-accueil-atypik-house.jpg" style="width:100%; height:620;">
      <div class="text">Caption Three</div>
    </div>
  
</div>
  <br>
  
<!-- The dots/circles -->
<div style="text-align:center">
    <span class="dot" onclick="currentSlide(1)"></span>
    <span class="dot" onclick="currentSlide(2)"></span>
    <span class="dot" onclick="currentSlide(3)"></span>
</div>
</section>

<div class="container">
    <h1>Atypik House, location de logement en France</h1>
    
</div>

