<head>
    <title>Contact | Atypik House | Location de logement | France</title>
</head>


<section class="banner">
    <div class="hero-body">
        <div class="container-title">
            <h1 class="title">Contactez-nous !</h1>
        </div>
    </div>
</section>


<section class="section">
    <div class="container-form">
        <!-- Contact form -->
        <form (ngSubmit)="submitForm(); completeContact(contactForm)" #contactForm="ngForm">

            {{ contactForm.valid }}
            <!-- Name -->
            <div class="field">
                <label class="label-name">Name</label>
                <input type="text" name="name" class="input" [(ngModel)]="name" placeholder="Votre nom"  #nameInput="ngModel" 
                pattern="^[a-zA-Zàéèç.-.' ']*"
                required>
                <div class="error" *ngIf="nameInput.invalid && nameInput.value">
                    Le nom saisie est incorrect
                </div>
                <div class="error" *ngIf="nameInput.touched && !nameInput.value">
                    Ce champ est nécessaire
                </div>
            </div>

            <!-- Email -->
            <div class="field">
                <label class="label-email">Email</label>
                <input type="text" name="email" class="input" [(ngModel)]="email" placeholder="example@gmail.com" #emailInput="ngModel" 
                pattern="^[a-zA-Z0-9_.]+@(?:[a-zA-Z0-9-]+\.)+[a-z]{2,7}$"
                required>
                <div class="error" *ngIf="emailInput.invalid && emailInput.value">
                    L'adresse mail saisie est invalide
                </div>
                <div class="error" *ngIf="emailInput.touched && emailInput.value">
                    Ce champ est nécessaire
                </div>
            </div>

            <!-- Message -->
            <div class="field">
                <label class="label-message">Message</label>
                <textarea name="message" class="textarea" [(ngModel)]="message" placeholder="Votre message" #messageInput="ngModel" required></textarea>
                <div class="error" *ngIf="messageInput.value && messageInput.touched">
                    Ce champ est nécessaire
                </div>
            </div>

            <!-- RECAPTCHA -->

            {{ frmFinish.valid }}

            <form [formGroup]="frmFinish" >
                <mat-checkbox required formControlName="checkTerms">Je confirme avoir lu et accepté la politique de confidentialité du site (<a href="/politique-de-confidentialite/" target="blank">Voir la politique de confidentialité</a>)</mat-checkbox>
            </form>

            <!-- Submit button -->
            <p><button type="submit" mat-raised-button color="primary" [disabled]="!contactForm.valid || !frmFinish.valid">Envoyez</button></p>
        </form>

        <div *ngIf="alert" class="alert alert-success alert-dismissible fade show" role="alert">
            <strong>Message envoyé avec succès !</strong>
            <button (click)="closeAlert()" type="button" class="close" data-dismiss="alert" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
        </div>
    </div>
</section>

