


<section class="banner">
    <div class="hero-body">
        <div class="container-title">
            <h1 class="title">Contactez-nous !</h1>
        </div>
    </div>
</section>

<section class="section">
    <div class="container-form">
        <!-- Contact form -->

        <form (ngSubmit)="submitForm()" #contactForm="ngForm">

            {{ contactForm.valid }}
            <!-- Name -->
            <div class="field">
                <label class="label-name">Name</label>
                <input type="text" name="name" class="input" [(ngModel)]="name" placeholder="Votre nom"  #nameInput="ngModel" 
                ngModel pattern="[a-zA-Z ]*"
                required>
                <div class="error" *ngIf="nameInput.invalid && nameInput.touched">
                    Ce champ est nécessaire
                </div>
            </div>

            <!-- Email -->
            <div class="field">
                <label class="label-email">Email</label>
                <input type="text" name="email" class="input" [(ngModel)]="email" placeholder="example@gmail.com" #emailInput="ngModel" required>
                <div class="error" *ngIf="emailInput.invalid && emailInput.touched">
                    Ce champ est nécessaire
                </div>
            </div>

            <!-- Message -->
            <div class="field">
                <label class="label-message">Message</label>
                <textarea name="message" class="textarea" [(ngModel)]="message" placeholder="Votre message" #messageInput="ngModel" required></textarea>
                <div class="error" *ngIf="messageInput.invalid && messageInput.touched">
                    Ce champ est nécessaire
                </div>
            </div>

            <!-- RECAPTCHA -->

            <section class="example-section">
                <mat-checkbox class="example-margin" [(ngModel)]="message" #checkboxInput="ngModel" required>Je confirme avoir lu et accepté la politique de confidentialité du site (<a href="#" target="blank">Voir la politique de confidentialité</a>)</mat-checkbox>
            </section>

            <!-- Submit button -->
            <button type="submit" mat-raised-button color="primary" [disabled]="contactForm.invalid">Envoyez</button>
        </form>
    </div>
</section>