<div class="login-wrapper" fxLayout="row" fxLayoutAlign="center center">
    <mat-card class="box">

        <!-- En-tête du formulaire-->
        <mat-card-header>
            <mat-card-title><h1>Ajouter une annonce</h1></mat-card-title>
        </mat-card-header>


        {{ userForm.valid }}
        <!-- Début formulaire -->
        <form (ngSubmit)="submitForm();" class="example-form" [formGroup]="userForm">
            <mat-card-content>

                <!-- Input nom avec regex -->
                <mat-form-field class="example-full-width">
                    <input matInput name="nom" formControlName="name"
                        placeholder="&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Nom" pattern="^[a-zA-Zàâéèç.-.' ']*" required>
                </mat-form-field>

                <!-- Input adresse avec regex -->
                <mat-form-field class="example-full-width">
                    <input matInput id="address" name="address" placeholder="&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Adresse"
                        formControlName="address" required>
                </mat-form-field>

                <!-- Input email avec regex 
                <mat-form-field class="example-full-width">
                    <input matInput id="category" name="category" placeholder="&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Type d'habitation"
                        formControlName="category" required>
                </mat-form-field>-->

                <!-- Select category -->
                <select name="category" matInput id="category" formControlName="category" class="category" required>
                    <option value="" disabled>--Type d'habitation--</option>
                    <option  *ngFor="let category of categories" value="/api/categories/{{category.id}}">{{category.type}}</option>
                </select>
                <!-- Input prix -->
                <mat-form-field class="example-full-width">
                    <input type="number" matInput id="rate" name="rate" placeholder="&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Prix"
                        formControlName="rate" required>
                </mat-form-field>


                <p class="message-contact">Décrivez votre habitation</p>
                <!-- Input message avec regex -->
                <mat-form-field class="example-full-width">
                    <textarea name="message" matInput placeholder="&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Votre message" formControlName="description" 
                    pattern="^.{50,255}$" required></textarea>
                </mat-form-field>
                <!-- Affiche une erreur si regex non respecté ou champ vide -->
                <div class="error" *ngIf="userForm.controls['description'].invalid && userForm.controls['description'].value">
                    Le message saisie est trop court et/ou trop long. Il doit contenir entre 50 et 255 caractères.
                </div>
                <div class="error" *ngIf="!userForm.controls['description'].value && userForm.controls['description'].touched">
                    Ce champs est requis.
                </div>
            </mat-card-content>

            <form [formGroup]="frmFinish" >
                <mat-checkbox required formControlName="checkTerms">Je confirme avoir lu et accepté les conditions générales d'utilisation (<a class="a-lien" href="/conditions-generales-utilisation/" target="blank">les conditions générales d'utilisation</a>)</mat-checkbox>
            </form>

            <!-- Bouton désactivé tant que le formulaire n'est pas valide -->
            <button  mat-stroked-button color="accent" class="btn-block"
            [disabled]="!userForm.valid || !frmFinish.valid">Créez votre annonce</button>
        </form>
    </mat-card>
</div>