<section>
    <h2>Nos offres</h2>
    <div class="useful-width">

        <div class="margin-constraint">
        
            <div class="lodgingSection">

                <div class="lodging">
        
                    <div class="lodgingAprecu">
                        <div>
        
                            <img src="../../assets/images/icons/location-insolite-atypik-house.png"
                                alt="">
                        </div>
                        <p> <span>Annecy, </span> <span> Auvergne-Rhône-Alpe</span> </p>
                    </div>
        
                    <div class="logingDesc">
        
                        <h3>Chalêt ALbert</h3>
                        <span>200€/nuit</span>
                        <p>Petit châlet cosy au sein
                            des Alpes. Vous êtes à
                            deux pas des stations 
                            Gigot-Crue et
                            Pouillot-les-Bains. Profitez du
                            grand air !
                        </p>
                        <a href="lodging-detail"> <button> En savoir plus</button></a>
        
                    </div>
        
                </div>
        
                <div class="lodging">
        
                    <div class="lodgingAprecu">
                        <div>
                            <img src="https://www.labresse.net/medias/images/prestations/chalet-lonier-le-couaroge-la-bresse-432752.jpg"
                                alt="">
        
                        </div>
                        <p> <span>Annecy, </span> <span> Auvergne-Rhône-Alpe</span> </p>
                    </div>
        
                    <div class="logingDesc">
        
                        <h3>Chalêt ALbert</h3>
                        <span>200€/nuit</span>
                        <p>Petit châlet cosy au sein
                            des Alpes. Vous êtes à
                            deux pas des stations
                            Pouillot-les-Bains et
                            Gigot-Crue. Profitez du
                            grand air !
                        </p>
                        <a href="lodging-detail"> <button>En savoir plus</button></a>
        
                    </div>
        
                </div>
        
                <div class="lodging">
        
                    <div class="lodgingAprecu">
                        <div>
        
                            <img src="https://www.labresse.net/medias/images/prestations/chalet-lonier-le-couaroge-la-bresse-432752.jpg"
                                alt="">
                        </div>
                        <p> <span>Annecy, </span> <span> Auvergne-Rhône-Alpe</span> </p>
                    </div>
        
                    <div class="logingDesc">
        
                        <h3>Chalêt ALbert</h3>
                        <span>200€/nuit</span>
                        <p>Petit châlet cosy au sein
                            des Alpes. Vous êtes à
                            deux pas des stations
                            Pouillot-les-Bains et
                            Gigot-Crue. Profitez du
                            grand air !
                        </p>
                        <a href="lodging-detail"> <button>En savoir plus</button></a>
        
                    </div>
        
                </div>
        
                <div class="lodging">
        
                    <div class="lodgingAprecu">
                        <div>
        
                            <img src="https://www.labresse.net/medias/images/prestations/chalet-lonier-le-couaroge-la-bresse-432752.jpg"
                                alt="">
                        </div>
                        <p> <span>Annecy, </span> <span> Auvergne-Rhône-Alpe</span> </p>
                    </div>
        
                    <div class="logingDesc">
        
                        <h3>Chalêt ALbert</h3>
                        <span>200€/nuit</span>
                        <p>Petit châlet cosy au sein
                            des Alpes. Vous êtes à
                            deux pas des stations
                            Pouillot-les-Bains et
                            Gigot-Crue. Profitez du
                            grand air !
                        </p>
                        <a href="lodging-detail"> <button>En savoir plus</button></a>
        
                    </div>
        
                </div>
            </div>
            
            <div class="seeMore">
        
                <div class="seeMoreContaint">
                    <h4> Plus d'offres</h4>
                    <div class="seemMoreImg">
                        <img src="../../assets/images/icons/arrow_drop_down_circle.svg" alt="">
        
                    </div>
                </div>
            </div>
            
        </div>
        
    </div>

</section>