

<div class="container" *ngIf="isLoggedIn" >
	<header class="jumbotron">
	  <h3>
		<strong>{{ currentUser.first_name }}</strong> Profile
	  </h3>
	</header>
  </div>

  <ul class="navbar-nav mr-auto" *ngIf="isLoggedIn">
	<li class="nav-item dropdown">
		<a class="nav-link dropdown-toggle account_link" href="#" id="navbarDropdown" role="button"
			data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
			<img class="account-icon" src="../../../assets/images/icons/icone-compte-atypikhouse.svg" alt="Logo-mon-compte"/>
			<span>Hébergement</span>
		</a>
		<div class="dropdown-menu" aria-labelledby="navbarDropdown">
			<a class="dropdown-item" href="/hebergement">Réserver</a>
		</div>
	</li>
	</ul>
