section.banniere{
    div.rows{
        text-align: center;
        margin-top: 5rem;
        margin-bottom: 5rem;
    }
}

div.container{
    div.row{
        div{
            p{
                font-size: 1.4rem;
            }

            ul{
                font-size: 1.4rem;
                line-height: 1.5;
            }
        }
    }
}