<head>
    <title>Inscription | Atypik House | Location de logement | France</title>
</head>

<div class="login-wrapper" fxLayout="row" fxLayoutAlign="center center">
    <mat-card class="box">

        <!-- En-tête du formulaire-->
        <mat-card-header>
            <mat-card-title>Inscription</mat-card-title>
        </mat-card-header>

        <!-- Début formulaire -->
        <form (ngSubmit)="onSubmit()" class="example-form" [formGroup]="userForm">
            <mat-card-content>

                <!-- Input nom avec regex -->
                <mat-form-field class="example-full-width">
                    <input matInput name="nom" [(ngModel)]="userForm.value.firstName" formControlName="firstName"
                        placeholder="&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Nom" pattern="^[a-zA-Zàéèç.-.' ']*" required>
                </mat-form-field>
                <!-- Affiche une erreur si regex non respecté ou champ vide -->
                <div class="error"
                    *ngIf="userForm.controls['firstName'].invalid && userForm.controls['firstName'].value">
                    Le nom saisie est invalide !
                </div>
                <div class="error"
                    *ngIf="userForm.controls['firstName'].touched && !userForm.controls['firstName'].value">
                    Ce champs est requis.
                </div>

                <!-- Input prenom avec regex -->
                <mat-form-field class="example-full-width">
                    <input matInput name="prenom" [(ngModel)]="userForm.value.lastName" formControlName="lastName"
                        placeholder="&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Prénom" pattern="^[a-zA-Zàéèç.-.' ']*" required>
                </mat-form-field>
                <!-- Affiche une erreur si regex non respecté ou champ vide -->
                <div class="error" *ngIf="userForm.controls['lastName'].invalid && userForm.controls['lastName'].value">
                    Le prénom saisie est invalide !
                </div>
                <div class="error"
                    *ngIf="userForm.controls['lastName'].touched && !userForm.controls['lastName'].value">
                    Ce champs est requis.
                </div>

                <!-- Input email avec regex -->
                <mat-form-field class="example-full-width">
                    <input matInput id="email" name="email" [(ngModel)]="userForm.value.email" placeholder="&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Email"
                        formControlName="email" pattern="^[a-zA-Z0-9_.]+@(?:[a-zA-Z0-9-]+\.)+[a-z]{2,7}$" required>
                </mat-form-field>
                <!-- Affiche une erreur si regex non respecté ou champ vide -->
                <div class="error" *ngIf="userForm.controls['email'].invalid && userForm.controls['email'].value">
                    L'adresse mail saisie est invalide !
                </div>
                <div class="error" *ngIf="!userForm.controls['email'].value && userForm.controls['email'].touched">
                    Ce champs est requis.
                </div>

                <!-- Input password avec regex -->
                <mat-form-field class="example-full-width">
                    <div class="passwordVisibility">

                        <input name="password" type="password" matInput id="password" placeholder="&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Mot de passe"
                            [(ngModel)]="userForm.value.password" formControlName="password"
                            pattern="^(?=.*[A-Z])(?=.*[\-._~!@#$&*])(?=.*[0-9])(?=.*[a-z]).{8,}$" required>
                        <span (click)="visibilityPassword()">
                            <img class="imgVisibility1" src="../../assets/icons/passwordVisibility/visibility.svg"
                                alt="">
                        </span>

                    </div>
                </mat-form-field>
                <div class="error" *ngIf="userForm.controls['password'].invalid && userForm.controls['password'].value">
                    Le mot de passe saisie est invalide. <br>
                    Il vous faut 8 caractères minimum contenant au moins :
                    <ul>
                        <li> <b> Une lettre Majuscule</b></li>
                        <li> <b> Une lettre Minuscule</b></li>
                        <li> <b> Un caractère spéciale </b></li>
                        <li> <b> Un chiffre</b></li>
                    </ul>
                </div>
                <div class="error"
                    *ngIf="userForm.controls['password'].touched && !userForm.controls['password'].value">
                    Ce champs est requis.
                </div>

                <mat-form-field class="example-full-width">
                    <div class="passwordVisibility" [formGroup]="repassword">

                        <input name="repassword" type="password" matInput placeholder="&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Confirmer mot de passe"
                            [(ngModel)]="repassword.value.samePassword" formControlName="samePassword"
                            pattern="^(?=.*[A-Z])(?=.*[\-._~!@#$&*])(?=.*[0-9])(?=.*[a-z]).{8,}$" required>
                        <span (click)="visibilityConfirmPassword()">
                            <img class="imgVisibility2" src="../../assets/icons/passwordVisibility/visibility.svg"
                                alt="">
                        </span>

                    </div>
                </mat-form-field>
                <!-- Affiche une erreur si regex non respecté ou champ vide et/ou mot de passe non identique -->
                <div class="error"
                    *ngIf="userForm.controls['password'].value != repassword.controls['samePassword'].value && repassword.controls['samePassword'].touched">
                    Mot de passe non identique.
                </div>
                <div class="error" *ngIf="repassword.controls['samePassword'].touched && !repassword.controls['samePassword'].value">
                    Ce champs est requis.
                </div>

                <!-- Input adresse avec regex -->
                <mat-form-field class="example-full-width">
                    <input name="adresse" matInput placeholder="&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Adresse" [(ngModel)]="userForm.value.adresse"
                        formControlName="adresse" required>
                </mat-form-field>
                <div class="error" *ngIf="userForm.controls['adresse'].touched && !userForm.controls['adresse'].value">
                    Ce champs est requis.
                </div>

                <!-- Input date en readonly, pas de saisie manuelle autorisée -->
                <!-- <mat-form-field class="example-full-width">
                    <input name="date" matInput [matDatepicker]="picker" placeholder="Date de naissance" readonly
                        [(ngModel)]="date" #dateInput="ngModel" required>
                    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                    <mat-datepicker touchUi="true" #picker></mat-datepicker>
                </mat-form-field>
                <div class="error" *ngIf="dateInput.touched && !dateInput.value">
                    Ce champs est requis.
                </div> -->

                <!-- Sélection du rôle -->
                <mat-form-field class="example-full-width">
                    <mat-label>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Vous êtes un...</mat-label>
                    <mat-select name="role" [(ngModel)]="userForm.value.role" formControlName="role" required>
                        <mat-option [value]="roles" *ngFor="let roles of Roles">{{roles}}</mat-option>
                    </mat-select>
                </mat-form-field>
                <div class="error" *ngIf="userForm.controls['role'].touched && !userForm.controls['role'].value">
                    Ce champs est requis.
                </div>

            </mat-card-content>
            <!-- Bouton désactivé tant que le formulaire n'est pas valide -->
            <button type="submit" mat-stroked-button color="accent" class="btn-block"
                [disabled]="!userForm.valid">Inscription</button>
        </form>
    </mat-card>
</div>